<head>
	<title>Beers</title>
</head>

<body>

<div>
	{{ctrl.beers}}
</div>

<p>Name: <input type="text" ng-model="ctrl.update.name"></p>
<p>Type: <input type="text" ng-model="ctrl.update.type"></p>

<p>Id: <input type="text" ng-model="ctrl.chooseId"></p>

<button ng-click="ctrl.getAll()">Get All</button>
<button ng-click="ctrl.getOne(ctrl.chooseId)">Get One</button>
<button ng-click="ctrl.post(ctrl.update)">Post</button>
<button ng-click="ctrl.put(ctrl.chooseId, ctrl.update)">Put</button>
<button ng-click="ctrl.del(ctrl.chooseId)">Delete</button>

</body>