<head>
	<title>Stories</title>
</head>
<body>

		<div class="container">
			<div class="signIn" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="row">
					<div>
						{{ctrl.stories}}
					</div>
			</div>

			<div class="row">
				<p>Headline: <input type="text" ng-model="ctrl.update.headline"></p>
				<p>Author: <input type="text" ng-model="ctrl.update.author"></p>
				<p>Date: <input type="text" ng-model="ctrl.update.createdate"></p>
				<p>Content: <input type="text" ng-model="ctrl.update.content"></p>
				<p>Image: <input type="text" ng-model="ctrl.update.image"></p>
			
				<p>Id: <input type="text" ng-model="ctrl.chooseId"></p>
			</div>

			<div class="row">
				<button class="imgOpt" ng-click="ctrl.getAll()">Get All</button>
				<button class="imgOpt" ng-click="ctrl.getOne(ctrl.chooseId)">Get One</button>
				<button class="imgOpt" ng-click="ctrl.post(ctrl.update)">Post</button>
				<button class="imgOpt" ng-click="ctrl.put(ctrl.chooseId, ctrl.update)">Put</button>
				<button class="imgOpt" ng-click="ctrl.del(ctrl.chooseId)">Delete</button>
			</div>
		</div>
			<footer class="theFoot editAccess">
				<div class="footNav">
					<button>
						<a ui-sref="home">Home</a>
					</button>
					<button>
						<a ui-sref="editPhoto">Edit Photo</a>
					</button>
					<button>
						<a ui-sref="editStory">Edit Story</a>
					</button>
					<button>
						<a ui-sref="editUser">Edit User</a>
					</button>
				</div>
			</footer>
		

</body>
</html>