<head>
	<title>Photos</title>
</head>

<body>

<div>
	{{ctrl.photos}}
</div>

<p>Image: <input type="text" ng-model="ctrl.update.image"></p>
<p>Owner: <input type="text" ng-model="ctrl.update.owner"></p>
<p>Title: <input type="text" ng-model="ctrl.update.title"></p>
<p>Date Uploaded: <input type="text" ng-model="ctrl.update.createdate"></p>
<p>Location: <input type="text" ng-model="ctrl.update.location"></p>
<p>Copyright: <input type="text" ng-model="ctrl.update.copyright"></p>
<p>Description: <input type="text" ng-model="ctrl.update.description"></p>


<p>Id: <input type="text" ng-model="ctrl.chooseId"></p>

<button ng-click="ctrl.getAll()">Get All</button>
<button ng-click="ctrl.getOne(ctrl.chooseId)">Get One</button>
<button ng-click="ctrl.post(ctrl.update)">Post</button>
<button ng-click="ctrl.put(ctrl.chooseId, ctrl.update)">Put</button>
<button ng-click="ctrl.del(ctrl.chooseId)">Delete</button>

</body>