<html>
<body>
	<!-- Header -->
	<div class="container">
		
		<div class="row">
			<header class="top" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="hdln">
						<div class="row" class="textBox">
							<div onmouseover="adminMouseOver" class="hs"></div>
							<div class="admin"><p>edit</p></div>
							<h1 class="name">
								Alyshah Hasham
							</h1>
						</div>
						<div class="row">
							<h2 class="position">
								Journalist
							</h2>
							<a href="http://www.thestar.com/authors.hasham_alyshah.html">
								<h2 class="employer">
								Toronto Star
								</h2>
							</a>
						</div>
				</div>
			</header>
		</div>
	</div>
</body>
</html>