<html>
<body>
<!-- Header -->
<div class="container">
		
		<div class="row">
			<header class="top" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="hdln">
						<div class="row" class="textBox">
							<div onmouseover="adminMouseOver" class="hs"></div>
							<div class="admin"><p>edit</p></div>
							<h1 class="name">
								Alyshah Hasham
							</h1>
						</div>
						<div class="row">
							<h2 class="position">
								Journalist
							</h2>
							<a href="http://www.thestar.com/authors.hasham_alyshah.html">
								<h2 class="employer">
								Toronto Star
								</h2>
							</a>
						</div>
				</div>
			</header>
		</div>

	<!-- Twitter -->
	<div class="row">
		<div class='twitter' class="col-xs-12 col-sm-6 col-md-12 col-lg-4">
			<a class="twitter-timeline" href="https://twitter.com/alysanmati" data-widget-id="707577859032752128">Tweets by @alysanmati</a>
		</div>

		<div class="pages" class="col-xs-12 col-sm-6 col-md-12 col-lg-4">
		</div>

		<div class"col-xs-12 col-sm-12 col-md-12 col-lg-12">
			 <a href="http://startouch.thestar.com/#news"> <div class="starTouch"></div></a>
		</div>
	</div>

	<!-- Photo Gallery Slider-->

	<div class="row">
		<div class="portfolio" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<uib-carousel active="ctrl.active" interval="ctrl.myInterval" no-wrap="ctrl.noWrapSlides">
			      <uib-slide ng-repeat="photo in ctrl.photos track by photo._id" index='$index'>
			      	<div class="header">
					<h1 class="text-muted">Photo Portfolio</h1>
					</div>
			        <img class="img-responsive" ng-src="{{photo.image}}" style="margin:auto;">
			      </uib-slide>
			</uib-carousel>
		</div>

		<!-- <div class"col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="starTouch"></div>
		</div> -->
	</div>

	<footer class="theFoot">
		<div class="footNav">
			<button>
				<a ui-sref="home">Home</a>
			</button>
			<button>
				<a href="bio">Bio</a>
			</button>
			<button>
				<a ui-sref="viewA">Photography</a>
			</button>
			<button>
				<a ui-sref="viewB">Headlines</a>
			</button>
		</div>
	</footer>
</div>

</body>
</html>