
<head>
	<title>Login</title>
</head>
<body>


	
	<h1>Journalist login</h1>

	<h2>{{ctrl.testMsg}}</h2>

	<section class="form shell">
		<form class="journalist">
			Email: <input ng-model="ctrl.user.email" type="email" name="email" placeholder="Email"><br>
			Password: <input ng-model="ctrl.user.password" type="text" name="password" placeholder="password"><br>
			Re-enter Password: <input ng-model="ctrl.repassword" type="text" name="password" placeholder="password"><br>
			<button ng-click="ctrl.authenticate(ctrl.user)" type="submit">{{ctrl.auth_btn}}</button><br>
			<button ng-click="ctrl.register(ctrl.user)" type="submit">{{ctrl.register_btn}}</button>
			<button ng-click="ctrl.logOut()" type="submit">Logout</button>
		</form>
	</section>

</body>
