	<!--large carousel-->

	<div class="container">
		
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	    	<div class="portBar"><h4>ALYSHAH HASHAM</h4></div>
	    	<div class="imgTitle">IMAGE NAME</div>
	    	<div class="portBox">
		    	<!-- <div style="height :305px"> -->
		    	 <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
			      <uib-slide ng-repeat="photo in photos track by photo._id" index="photo._id">
			     	<!-- <div class="header">
					<h1 class="text-muted">Portfolio</h1>
					</div> -->
			        <img align="left" ng-src="{{photo.image}}" style="margin:auto">
			        <!-- <div class="carousel-caption">
			          <h4>Slide {{slide.id}}</h4>
			        </div> -->
			        <div class="infoArea">
			        
				    	<h1>{{photo.name}}</h1>

				    	<p>{{photo.description}}</p>

			    	</div>
			      </uib-slide>

			    </uib-carousel>
			    
		  <!--</div> -->
		  	</div>
		</div>

