//slider
<!--DOCTYPE html-->
<html>
<head>
	<title></title>
</head>
<body>

	<div class="container">
		<div class="text-muted">
			<h1>jQuery Basic Slider</h1>
		</div>

		<div id="slider">
			<ul class="slider">
		  		<li class="slider" src="../assets/img/test_mara/mara_00.jpg" />
		  		<li class="slider"src="../assets/img/test_mara/mara_01.jpg" />
		  		<li class="slider"src="../assets/img/test_mara/mara_02.jpg" />
		  		<li class="slider" src="../assets/img/test_mara/mara_03.jpg" />
		  		<li class="slider" src="../assets/img/test_mara/mara_04.jpg" />
		  	</ul>
		</div>

	</div>
</body>
</html>

