
{{ctrl.testMsg}}

	<div class="container">
		
		<!-- <uib-carousel active="ctrl.active" interval="ctrl.myInterval" noWrapSlides = "ctrl.noWrapSlides">
     		 <uib-slide ng-repeat="slide in ctrl.slides track by slide.id" index='slide.id'>
        		<img ng-src="{{slide.image}}" style="margin:auto;">
      		</uib-slide>
    	</uib-carousel> -->
    	<!-- <div style="height :305px"> -->
    	 <uib-carousel active="ctrl.active" interval="ctrl.myInterval" no-wrap="ctrl.noWrapSlides">
	      <uib-slide ng-repeat="slide in ctrl.slides track by slide.id" index="slide.id">
	     	<div class="header">
			<h1 class="text-muted">Portfolio</h1>
			</div>
	        <img ng-src="{{slide.image}}" style="margin:auto;">
	        <!-- <div class="carousel-caption">
	          <h4>Slide {{slide.id}}</h4>
	        </div> -->
	      </uib-slide>
	    </uib-carousel>
	 <!--   </div> -->

	</div>

