
<div class="container">

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="portBar"><h4>FROM THE HEADLINES</h4></div>
	    <div class="imgTitle">STORY TITLE</div>
	    <div class="portBox">
			<uib-carousel active="ctrl.active" interval="ctrl.myInterval" no-wrap="ctrl.noWrapSlides">
			      <uib-slide ng-repeat="slide in ctrl.slides track by slide.id" index="slide.id">
			     	<div class="header">
						<!-- <h1 class="text-muted">Print</h1>-->
					</div>
				        	<img class="lgStory" ng-src="{{slide.image}}" style="margin:auto;"
				       	<div class="carousel-caption">
				          <h4>Slide {{slide.id}}</h4>
				        </div>
				        <div class="storyArea">
					    	<h3 class="hLine">This Headline</h3>
					    	<p class="textStory">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					    	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					    	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					    	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					    	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					    	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				    	</div>
			      </uib-slide>
			</uib-carousel>
		</div>
	</div>
</div>